<h2><%= @restaurant.name %></h2>

<p>
  <%= @restaurant.address %>
  <br>
  <%= @restaurant.city %>, <%= @restaurant.state %>, <%= @restaurant.zip %>
  <br>
  <%= @restaurant.phone %>
</p>

<h3> Reviews </h3>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.user.username %>
      rating: <%= review.rating %>
      <%= review.body %>
    </li>
  <% end %>
</ul>

<% if logged_in? %>
  <h4>New review</h4>

  <form action="<%= reviews_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="review[restaurant_id]" value="<%= @restaurant.id %>">

    <label for="review_rating">Rating</label>
    <select id="review_rating" name="review[rating]">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <input
      type="text"
      name="review[body]">

    <button>submit!</button>

</form>
<% end %>
