<header class="header">

  <nav class="header-nav clearfix">

    <h1 class="header-logo">
      <a href="<%= root_path %>"></a>
    </h1>

    <ul class="header-list clearfix">

      <% if logged_in? %>
        <li>
          <a class="logged-in-nav" href="<%= user_url(current_user) %>">
            <%= current_user.username %>
          </a>
        </li>
        <li>
          <a class="logged-in-nav" href="<%= session_url %>" data-method="delete">
            Log out
          </a>
        </li>
      <% else %>
        <li>
          <a class="logged-out-nav" href="<%= new_session_url %>">Log in</a>
        </li>
        <li>
          <a class="logged-out-nav" href="<%= new_user_url %>">Sign up</a>
        </li>
      <% end %>

    </ul>

  </nav>



</header>
